body {
    background-color: royalblue;
}

.main-header {
    font-weight: bold;
    color: sienna;
}

#my-pic {
    -webkit-box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87); 
    box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87);
}