body {
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0; 
    font-size: 18px;
    line-height: 150%;
}

header {
    font-weight: bold;
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    padding: 20px;
    margin: 0 auto;
}

#my-bio {
    float: left;
    width: 70%;
}

#contact-info {
    width: 30%;
    line-height: 1.5;
    float: left;
}

#contact-info a {
    color: #d21034;
}

#bio-image {
    float: left;
    width: 200px;
    margin-right: 50px;
    -webkit-box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87); 
    box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87);
}