:root {
  --footer-height: 150px;
}

body {
font-family: 'Varela Round', sans-serif;
  background-color: lightgray;
  min-width: 350px;
  width: auto !important;
  width: 350px;
}

html,
body {
  height: 100%;
}

#name {
  font-size: 20px;
}

#container {
  min-height: 100%;
  margin-bottom: calc(var(--footer-height) * -1);
  position: relative;
}

.border-3 {
  border-top-width: 10px !important;
  border-top-style: solid;
  border-color: #5bc0de;
}

.footer {
  height: var(--footer-height);
  position: relative;
}

.clearfooter {
  height: var(--footer-height);
  clear: both;
}

.socials {
  height: 100px;
}

.row {
    margin: 0;
}

h2 {
    font-size: 24px;
}

#bio-image {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87); 
    box-shadow: 5px 6px 9px 6px rgba(0,0,0,0.87);
} 
